
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "clown_image.png", class: "bigger-logo" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Clowns", offers_path, class: "nav-link text-dark" %>
          </li>
          <li class="nav-item active">
            <%= link_to "+ Add clown", new_offer_path, class: "nav-link text-dark" %>
          </li>

            <li class="nav-item dropdown">
            <%= image_tag "user_icon.png", class: "dropdown-logo", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
             <% if user_signed_in? %>
               <%= link_to "Log out", destroy_user_session_path , class: "dropdown-item",  data: {turbo_method: :delete} %>
             <% else %>
                <%= link_to "Log in", new_user_session_path , class: "dropdown-item" %>
                <%= link_to "Sign up", new_user_registration_path , class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
