<div class="col">
  <div class="card card-main mb-3" style="min-width: 540px; background:<%= %w(var(--bs-pink) var(--bs-yellow) var(--bs-purple)).sample %>">
    <div class="row g-0">
      <div class="col-md-4 index-clown-photos">
        <%= cloudinary_image(clown) %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title shadowed-text"><strong><%= clown.name %></strong></h5>
          <p class="card-text shadowed-text"><%= clown.details.gsub(".", ".<br>").html_safe %></p>
          <%= link_to "+ Info", clown, class: "card-link" %>
          <p class="card-price shadowed-text"><strong><%= clown.price %>€</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
