
<div class="cards row row.cols-1 row-cols-md-3 g-4 m-3 bg-light">
  <div class="col col-sm-10 col-md-6 col-lg-10">
    <h1 class="h1">These happy clowns are at your service! </h1>
  </div>
  <% @clowns.each do |clown| %>
  <div class="col col-sm-10 col-md-6 col-lg-10">
  <div class="card card-main mb-3" style="max-width: 540px; background:<%= %w(var(--bs-red) var(--bs-yellow) var(--bs-orange) var(--bs-purple)).sample %>">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "Le Wagon 096-XL.jpg", class: "img-fluid"%>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title shadowed-text"><strong><%= clown.name %></strong></h5>
          <p class="card-text shadowed-text"><%= clown.details %></p>
          <%= link_to "+ Info", clown, class: "card-link" %>
          <p class="card-price shadowed-text"><strong><%= clown.price %>€</strong></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>

</div>
